:root {
  --favcolor: rgb(22, 162, 178);
  --bggradient: linear-gradient(to bottom, #1C355E, #fff, #76BC21);
  --font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  background-color: lightgray;
  color: var(--favcolor);
  font-size: 48pt;
  font-weight: bold;
  padding: 20px;
  margin: 0;
}

body {
  background-image: var(--bggradient);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: var(--font-family);
}

h2 {
  text-align: left;
  text-decoration: underline;
  font-size: 24pt;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--favcolor);
}

p {
  font-size: 18pt;
  line-height: 1.5;
  color: #444;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.owner {
  display: block;
  margin-bottom: 40px;
  margin-right: 20px;
}

a {
  color: var(--favcolor);
  text-decoration: none;
  border-bottom: 2px solid var(--favcolor);
  padding-bottom: 0.2rem;
  transition: all 0.2s;
}

a:hover {
  border-bottom-color: white;
  color: white;
}

button {
  background-color: var(--favcolor);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18pt;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: white;
  color: var(--favcolor);
}

input[type="text"], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--favcolor);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18pt;
}

hr {
  border: 0;
  height: 1px;
  background: var(--favcolor);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer {
  background-color: #3d3d3d;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

