:root
{ --favcolor: rgb(22, 162, 178); }
h1 { text-align: right; background-color: black; color: var(--favcolor); font-size: 42pt; }
body { background-image: linear-gradient(blue, white, gold); } 
.happy { cursor: url("images/31_UNC_Collegiate_UNC+WM_block.jpg"), auto; }
