:root
{ --favcolor: rgb(22, 162, 178); }

h1
{ text-align: left; background-color: black; color: var(--favcolor); font-size: 38pt; }

P { color: blue; }
body { background-color: white; } 
h2 { color: blue; } 
